<a class="back-link" (click)="back()">
  <fa-icon class="brand __icon" [icon]="['fa', 'angle-left']" aria-label="Back"></fa-icon>
  Back
</a>
<!-- Action row -->
<div class="action-row">
  <h1 class="page-title">{{ title }}</h1>
  <div class="action-btns">
    <button (click)="onSubmit()" class="main-btn save-btn" type="button" aria-label="Save">Save</button>
    <button (click)="onCancel()" class="main-btn sub-btn cancel-btn" type="button" aria-label="Cancel">Cancel</button>
  </div>
</div><!-- End of action row -->
<!-- Main Content -->
<section class="main-content">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="ctrl-wrapper --title">
      <label for="title" class="ctrl-title">Title</label>
      <input type="text" class="ctrl title-ctrl underline" formControlName="title">
    </div><!-- End of title -->
    <!-- Note -->
    <div class="note-wrapper">
      <quill-editor #quillEditor></quill-editor>
    </div><!-- End of note -->
  </form>
</section><!-- End of main content -->
