@import '../../share/controls.scss';
@import '../../share/variable.scss';

.main-content {
  margin: 2em 0;
  padding-bottom: 2em;
}
.title-ctrl {
  width: 30%;
  max-width: 300px;
}
.ctrl-wrapper {
  margin-bottom: 2em;
}
/** Mode button **/
.mode-row {
  text-align: right;
}
/** New button **/
.new-btn {
  position: fixed;
  right: 2em;
  bottom: 15%;
  z-index: 500;
  .__icon {
    font-size: 1em;
  }
}
.index-card-wrapper {
  padding-bottom: 2em;
  margin-bottom: 2em;
}
@media (min-width: 1400px) {
  .new-btn {
    right: 6em;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .new-btn {
    right: 5em;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .--presentation .index-card-wrapper {
    margin-top: 15%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .main-content {
    &.--presentation {
      margin: 4em 0;
    }
  }
  .--presentation .index-card-wrapper {
    margin-top: 15%;
  }
  .new-btn {
    bottom: 20%;
  }
}
@media (max-width: 480px) {
  .main-content {
    &.--presentation {
      margin: 4em 0;
    }
  }
  .new-btn {
    bottom: 20%;
  }
}
@media (orientation: landscape) {
  @media (min-width: 1300px) {
    .--presentation .index-card-wrapper {
      margin-top: 15%;
    }
  }
}
