$bgColor: #FFF4E4;
$orange: #FBB13C;
$red: #FF7C7C;
$white: #FCFCFC;
$blue: #49C9DD;
$green: #49DDA2;
$black: #707070;
$lineColor: #b9b5b5;

$headerHeight: 70px;
$gradientBg: linear-gradient(45deg, $red 20%, $orange 100%);
$maxPageWidth: 1400px;
$lineHeight: 20px;
