@import '../../share/variable.scss';
.action-box {
  position: absolute;
  right: 5%;
  bottom: 30%;
  z-index: 1000;
}
.pen__btn {
  font-size: 1em;
}
.action-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  animation: .1s .3s hide-btns forwards;
  &.shown {
    animation: .01s show-btns forwards;
    .action-btn {
      z-index: 1000;
      opacity: 1;
      &.--vocab {
        right: 0em;
        bottom: 3.5em;
      }
      &.--note {
        right: 5.5em;
        bottom: -2em;
      }
      &.--book {
        bottom: -9.5em;
        right: 1.5em;
      }
    }
  }
  .action-btn {
    background: $white;
    color: $black;
    width: 70px;
    height: 70px;
    display: flex;
    cursor: pointer;
    position: absolute;
    z-index: -1;
    opacity: 0;
    .link {
      margin: auto;
      color: currentColor;
      text-decoration: none;
    }
    &:hover {
      color: $white;
      background: $gradientBg;
    }
    &.--vocab,
    &.--note,
    &.--book {
      transition: opacity .3s ease-in, right .3s ease-in, bottom .3s ease-in;
      right: -1em;
      bottom: -3em;
    }
  }
}
@keyframes hide-btns {
  0% {
    overflow: visible;
  }
  100% {
    overflow: hidden;
  }
}
@keyframes show-btns {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
