@import '../../../share/scss/variable.scss';

/* Index card ratio */
$cardRatio: calc(795 / 466);

/* Make index card's height portpotional to its width */
@mixin card-width-height($currentWidth) {
  width: $currentWidth;
  padding-bottom: calc(#{$currentWidth} / #{$cardRatio});
}
@mixin card-height($currentWidth) {
  padding-bottom: calc(#{$currentWidth} / #{$cardRatio});
}
/* Get flip button position based on card width */
@mixin flip-btn-position($currentWidth) {
  margin-top: calc(#{$currentWidth} / #{$cardRatio} - 3em);
}


$width: 100%;
.card__wrapper--front,
.card__wrapper--back {
  @include card-width-height($width);
  height: 0;
  position: relative;
}
.card--front,
.card--back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card__body {
  height: 100%;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
}

.card-wrapper {
  position: relative;
  margin-bottom: 4em;
}
.flip-btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  z-index: 10;
  @include flip-btn-position($width);
}
.remove-btn {
  position: absolute;
  right: 2%;
  z-index: 10;
  top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  .__icon {
    font-size: 1.25em;
  }
}
.--view-mode {
  &.card-wrapper {
    margin-bottom: 2em;
  }
}
.card {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: relative;
  transition: transform .45s;
  &.front {
    transform: rotateY(0deg);
  }
  &.back {
    transform: rotateY(180deg);
  }
}
.card__wrapper--front,
.card__wrapper--back {
  position: absolute;
  width: 100%;
  .card__title {
    display: none;
  }
}
.card__wrapper--back {
  transform: rotateY(180deg);
}
.card__title {
  display: block;
}
.card__body {
  background: $white;
  padding: 2em 0;
}
.--view-mode,
.carousel-wrapper {
  .card--front .card__body .name {
    border-bottom: none;
    text-align: center;
  }
}
.card--front {
  .card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    .name {
      border: none;
      background: none;
      border-bottom: 2px solid $lineColor;
      outline: none;
      padding: 0 1em;
      width: 50%;
    }
    .name.ng-invalid.ng-touched {
      border-color: $red;
    }
  }
}
.desc {
  background: linear-gradient(to bottom, transparent, transparent calc(#{$lineHeight} - 2px), $lineColor 0px);
  background-size: 100% $lineHeight;
  background-position-y: calc(#{$lineHeight} - 4px);
  padding: 0 1em;
  margin: auto;
  display: block;
  border: none;
  line-height: $lineHeight;
  outline: none;
  resize: none;
  height: 100%;
  width: 80%;
  &.ng-invalid.ng-touched {
    background: linear-gradient(to bottom, transparent, transparent calc(#{$lineHeight} - 2px), $red 0px);
    background-size: 100% $lineHeight;
    background-position-y: calc(#{$lineHeight} - 4px);
  }
}
/* Carousel list */
.carousel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  transform-style: preserve-3d;
}
.carousel-item {
  position: absolute;
  transition: transform .3s;
  &.--prev,
  &.--next {
    background: #cac9c9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  }
  &.--next {
    transform: translate3d(70%, -10%, -100px) scale(.9);
  }
  &.--prev {
    transform: translate3d(-70%, -10%, -100px) scale(.9);
  }
  &.--selected {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.carousel-controls {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: calc(1em + 150px);
  margin-left: auto;
  margin-right: auto;
}
.carousel-ctrl.--prev,
.carousel-ctrl.--next {
  position: absolute;
  top: -8rem;
  font-size: 1.2em;
}
.carousel-ctrl.--prev {
  left: -8rem;
}
.carousel-ctrl.--next {
  right: -8rem;
}
.carousel-ctrl.--flip {
  padding: .5em 1.5em;
}
/* Display two cards side by side*/
@mixin two-layout($width) {
  .card-wrapper.--show-all {
    .card {
      display: flex;
      justify-content: space-between;
      &.back {
        transform: none;
      }
    }
    .card__wrapper--front,
    .card__wrapper--back {
      @include card-width-height($width);
      position: relative;
      .card__title {
        display: block;
      }
    }
    .card__wrapper--front {
      order: 1;
    }
    .card__wrapper--back {
      transform: none;
      order: 2;
    }
    .flip-btn {
      display: none;
    }
  }
  .card-wrapper {
    .card__title {
      display: none;
    }
  }
}
@media (min-width: 980px) {
  $width: calc(50% - 2em);
  @include two-layout($width);
  .--view-mode {
    &.card-wrapper {
      margin-bottom: 3em;
    }
  }
  .card-wrapper {
    margin-bottom: 6em;
  }
  // Carousel card
  $carouselWidth: 500px;
  .carousel-item {
    width: $carouselWidth;
    @include card-height($carouselWidth);
    left: calc(50% - (#{$carouselWidth} / 2));
  }
  .carousel-list {
    @include card-height($carouselWidth);
  }
  .carousel-controls {
    margin-top: 3rem;
  }
  .carousel-item {
    &.--next {
      transform: translate3d(50%, -50%, -100px) scale(.7);
    }
    &.--prev {
      transform: translate3d(-50%, -50%, -100px) scale(.7);
    }
  }
}
@media (min-width: 767px) and (max-width: 979px) {
  $width: calc(50% - 1em);
  @include two-layout($width);
  // Carousel card
  $carouselWidth: 350px;
  .carousel-item {
    width: $carouselWidth;
    @include card-height($carouselWidth);
    left: calc(50% - (#{$carouselWidth} / 2));
  }
  .carousel-list {
    @include card-height($carouselWidth);
  }
  .carousel-item {
    &.--next {
      transform: translate3d(60%, -40%, -100px) scale(.9);
    }
    &.--prev {
      transform: translate3d(-60%, -40%, -100px) scale(.9);
    }
  }
  .carousel-controls {
    margin-top: calc(1em + 75px);
  }
}
@media (max-width: 766px) {
  .card {
    @include card-height($width);
  }
  // Carousel card
  $carouselWidth: 80%;
  .carousel-item {
    width: $carouselWidth;
    @include card-height($carouselWidth);
    left: calc(50% - (#{$carouselWidth} / 2));
  }
  .carousel-list {
    @include card-height($carouselWidth);
  }
  .carousel-item {
    &.--next {
      transform: translate3d(40%, -40%, -100px) scale(.4);
    }
    &.--prev {
      transform: translate3d(-40%, -40%, -100px) scale(.4);
    }
  }
  .carousel-controls {
    width: 60%;
    margin-top: calc(1em + 50px);
    text-align: center;
  }
  .carousel-ctrl {
    position: static !important;
    top: unset !important;
    margin: 0 2rem;
  }
}
@media (orientation: portrait) {

}
@media (orientation: landscape) {
  @media (min-width: 1300px) {
    .carousel-item {
      &.--next {
        transform: translate3d(70%, -50%, -100px) scale(.9);
      }
      &.--prev {
        transform: translate3d(-70%, -50%, -100px) scale(.9);
      }
    }
  }
}
