@import '../../../share/variable.scss';

/* Index card ratio */
$cardRatio: calc(795 / 466);

/* Make index card's height portpotional to its width */
@mixin card-width-height($currentWidth) {
  width: $currentWidth;
  padding-bottom: calc(#{$currentWidth} / #{$cardRatio});
}
@mixin card-height($currentWidth) {
  padding-bottom: calc(#{$currentWidth} / #{$cardRatio});
}
/* Get flip button position based on card width */
@mixin flip-btn-position($currentWidth) {
  margin-top: calc(#{$currentWidth} / #{$cardRatio} - 3em);
}


$width: 100%;
.card__wrapper--front,
.card__wrapper--back {
  @include card-width-height($width);
  height: 0;
  position: relative;
}
.card--front,
.card--back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card__body {
  height: 100%;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
}

.card-wrapper {
  position: relative;
}
.flip-btn {
  position: absolute;
  right: 2%;
  z-index: 10;
  @include flip-btn-position($width);
}
.remove-btn {
  position: absolute;
  right: 2%;
  z-index: 10;
  top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  .__icon {
    font-size: 1.25em;
  }
}
.card {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: relative;
  transition: transform .45s;
  margin-bottom: 4em;
  &.front {
    transform: rotateY(0deg);
  }
  &.back {
    transform: rotateY(180deg);
  }
}
.card__wrapper--front,
.card__wrapper--back {
  position: absolute;
  width: 100%;
  .card__title {
    display: none;
  }
}
.card__wrapper--back {
  transform: rotateY(180deg);
}
.card__title {
  display: block;
}
.card__body {
  background: $white;
  padding: 2em 0;
  margin-top: 1em;
}
.card--front {
  .card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    .vocab {
      border: none;
      background: none;
      border-bottom: 2px solid $lineColor;
      outline: none;
      padding: 0 1em;
      width: 50%;
    }
    .vocab.ng-invalid.ng-touched {
      border-color: $red;
    }
  }
}
.desc {
  background: linear-gradient(to bottom, transparent, transparent calc(#{$lineHeight} - 2px), $lineColor 0px);
  background-size: 100% $lineHeight;
  background-position-y: calc(#{$lineHeight} - 4px);
  padding: 0 1em;
  margin: auto;
  display: block;
  border: none;
  line-height: $lineHeight;
  outline: none;
  resize: none;
  height: 100%;
  width: 80%;
  &.ng-invalid.ng-touched {
    background: linear-gradient(to bottom, transparent, transparent calc(#{$lineHeight} - 2px), $red 0px);
    background-size: 100% $lineHeight;
    background-position-y: calc(#{$lineHeight} - 4px);
  }
}
/* Display two cards side by side*/
@mixin two-layout($width) {
  .card {
    display: flex;
    justify-content: space-between;
    &.back {
      transform: none;
    }
  }
  .card-wrapper {
    .card__title {
      display: none;
    }
  }
  .card__wrapper--front,
  .card__wrapper--back {
    @include card-width-height($width);
    position: relative;
    .card__title {
      display: block;
    }
  }
  .card__wrapper--front {
    order: 1;
  }
  .card__wrapper--back {
    transform: none;
    order: 2;
  }
  .flip-btn {
    display: none;
  }
}
@media (min-width: 980px) {
  $width: calc(50% - 2em);
  @include two-layout($width);
  .card {
    margin-bottom: 6em;
  }
}
@media (min-width: 767px) and (max-width: 979px) {
  $width: calc(50% - 1em);
  @include two-layout($width);
}
@media (max-width: 766px) {
  .card {
    @include card-height($width);
  }
}
@media (orientation: portrait) {

}
@media (orientation: landscape) {

}
