@import '../../../share/variable.scss';

.card-wrapper {
  margin-top: 2em;
  position: relative;
}
.flip-btn {
  position: absolute;
  bottom: -1em;
  right: 2%;
  z-index: 10;
}
.card {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: relative;
  transition: transform .45s;
  &.front {
    transform: rotateY(0deg);
  }
  &.back {
    transform: rotateY(180deg);
  }
}
.card--front,
.card--back {
  position: absolute;
  width: 100%;
  .card__title {
    display: none;
  }
}
.card--back {
  transform: rotateY(180deg);
}
.card__title {
  display: block;
}
.card__body {
  background: $white;
  padding: 2em 0;
  margin-top: 1em;
}
.card--front {
  .card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    .vocab {
      border: none;
      background: none;
      border-bottom: 1px solid $lineColor;
      outline: none;
      padding: 0 1em;
    }
  }
}
.desc {
  background: linear-gradient(to bottom, transparent, transparent calc(#{$lineHeight} - 1px), $lineColor 0px);
  background-size: 100% $lineHeight;
  background-position-y: calc(#{$lineHeight} - 1px);
  padding: 0 1em;
  margin: auto;
  display: block;
  border: none;
  line-height: 20px;
  outline: none;
  resize: none;
  height: 100%;
}
