@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap';
@import './app/share/scss/variable.scss';
@import './app/share/scss/controls.scss';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  background: $bgColor;
  &.--menu-opened {
    overflow-y: hidden;
  }
}
/** Page wrapper **/
.page-wrapper {
  min-height: calc(100% - #{$headerHeight});
  padding: 2em;
  max-width: 1300px;
  margin: auto;
  position: relative;
  margin-bottom: 6rem;
}
.inner-wrapper {
  margin: auto;
  max-width: 1300px;
  padding: 1em 2em;
}
/** Round button styling **/
button {
  outline: none;
  cursor: pointer;
}
@mixin btn-base-style {
  border-radius: 5px;
  color: $white;
  padding: .5em 1em;
  font-weight: 600;
  min-width: 80px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}
.main-btn {
  @include btn-base-style();
  background: linear-gradient(45deg, $red 20%, $orange 100%);
}
.sub-btn {
  @include btn-base-style();
  background: $red;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
.outline-btn {
  @include btn-base-style();
  color: $orange;
  border: 3px solid $orange;
  background: transparent;
}
.round-btn {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: unset;
}
/* Back link */
.back-link {
  text-decoration: none;
  cursor: pointer;
  color: $black;
  font-size: 1.2rem;
}
/* Page title */
.action-row.--view-mode {
  display: flex;
  justify-content: space-between;
  .page-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
.page-title {
  color: $black;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1.5em 0;
}
/* Action row */
.action-btns {
  text-align: right;
  font-weight: 600;
  button {
    margin-left: 1rem;
    width: 6em;
    font-size: 1rem;
  }
}
/** Detail section **/
.detail-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.author-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  .avatar {
    width: 30px;
    max-width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: .5em;
  }
  .name {
    color: $black;
    font-size: .9rem;
    font-weight: 600;
  }
}
.meta-btn {
  color: $black;
  background: none;
  border: none;
  outline: none;
  margin-left: 1rem;
  cursor: pointer;
  &.hover {
    .__icon.--normal {
      display: none;
    }
    .__icon.--hover {
      display: inline;
    }
    .count-title, .count {
      color: $red;
    }
  }
  .__icon {
    font-size: 1.1rem;
    margin-right: .5rem;
    &.--hover {
      display: none;
      color: $red;
    }
  }
  .count-title {
    font-size: .9rem;
  }
  .count {
    font-size: .8rem;
  }
}
.date {
  color: $black;
  margin-left: 1rem;
  font-size: .9rem;
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  body {
    font-size: 16px;
  }
  .page-wrapper {
    padding: 4em 6em;
  }
  .page-inner-wrapper {
    padding: 0;
  }
  .action-row {
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 18px;
  }
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
  .page-wrapper {
    padding: 3em 4em;
  }
}
@media (min-width: 981px) and (max-width: 1199px) {
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 767px) and (max-width: 980px) {
  body {
    font-size: 14px;
  }
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 320px) and (max-width: 766px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .page-wrapper {
    padding: 1.5rem 1rem;
  }
  .detail-section {
    display: block;
    margin-bottom: 2rem;
    .metadata {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      .meta-btn,
      .date {
        margin: auto 0;
      }
    }
  }
}
/* XS devices */
@media (max-width: 330px) {
  /* Move date span of meata data section to the second line */
  .detail-section .metadata {
    flex-wrap: wrap;
    .--like-btn, .--save-btn {
      width: calc(50% - 2rem);
      margin-bottom: 1.5rem;
    }
    .--save-btn {
      text-align: right;
      padding-right: 0;
      margin-left: auto;
    }
    .date {
      margin-left: auto;
    }
  }
}
@media (orientation: landscape) {

}
@media (orientation: portrait) {
  @media (min-width: 960px) {
    body {
      font-size: 14px;
    }
  }
}
