@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap';
@import './app/share/variable.scss';
@import './app/share/controls.scss';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  background: $bgColor;
}
/** Page wrapper **/
.page-wrapper {
  min-height: calc(100% - #{$headerHeight});
  padding: 2em;
  max-width: 1600px;
  margin: auto;
  position: relative;
}
.inner-wrapper {
  margin: auto;
  max-width: 1300px;
  padding: 1em 2em;
}
/** Round button styling **/
button {
  outline: none;
  cursor: pointer;
}
.main-btn {
  border-radius: 5px;
  color: $white;
  border: none;
  background: linear-gradient(45deg, $red 20%, $orange 100%);
  cursor: pointer;
  padding: .5em 1em;
}
.sub-btn {
  background: $red;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
.round-btn {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.18);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Back link */
.back-link {
  text-decoration: none;
  cursor: pointer;
  color: $black;
  font-size: 1.2em;
}
/* Page title */
.page-title {
  color: $black;
  font-size: 1.6em;
  font-weight: 600;
  margin: 1.5em 0;
}
/* Action row */
.action-btns {
  text-align: right;
  button {
    margin-left: 1em;
    width: 6em;
    font-size: 1em;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 16px;
  }
  .page-wrapper {
    padding: 4em 6em;
  }
  .page-inner-wrapper {
    padding: 0;
  }
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
  .page-wrapper {
    padding: 3em 4em;
  }
}
@media (min-width: 981px) and (max-width: 1199px) {
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 767px) and (max-width: 980px) {
  body {
    font-size: 14px;
  }
  .action-row {
    display: flex;
    justify-content: space-between;
    .action-btns {
      margin: auto 0;
      margin-left: auto;
    }
  }
}
@media (min-width: 320px) and (max-width: 766px) {
  body {
    font-size: 14px;
  }
}
@media (orientation: landscape) {

}
@media (orientation: portrait) {
  @media (min-width: 960px) {
    body {
      font-size: 14px;
    }
  }
}
