@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap';
@import './app/share/variable.scss';
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  background: $bgColor;
}
/** Page wrapper **/
.page-wrapper {
  min-height: calc(100% - #{$headerHeight});
}
.page-inner-wrapper {
  padding: 1em 2em;
  max-width: 1400px;
  margin: auto;
}
.inner-wrapper {
  margin: auto;
  max-width: 1300px;
  padding: 1em 2em;
}
/** Round button styling **/
button {
  outline: none;
  cursor: pointer;
}
.main-btn {
  border-radius: 5px;
  color: $white;
  border: none;
  background: linear-gradient(45deg, $red 20%, $orange 100%);
  cursor: pointer;
}
.sub-btn {
  background: $red;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
.round-btn {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.18);
}
@media (min-width: 1400px) {
  .page-inner-wrapper {
    padding: 0;
  }
}
@media (min-width: 767px) and (max-width: 980px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 766px) {
  body {
    font-size: 14px;
  }
}
@media (orientation: landscape) {
  @media (min-width: 960px) {
    body {
      font-size: 14px;
    }
  }
}
@media (orientation: portrait) {
  @media (min-width: 960px) {
    body {
      font-size: 14px;
    }
  }
}
